body
{
  margin: 0px;
  background-color: #303030;
}

hr
{
  margin-top: 150px;
  margin-bottom: 150px;
}
/* END OF BODY STYLE */

/* ------------------------------------------------------------ */


/* MY HEADER WITH NAVIGATION */
.header
{
  height: 10vh;
  width: 100%;
  background-color: rgb(42, 42, 42, .7);
  position: fixed;
  top: 0px;
  z-index: 1000;
}
.header h1
{
    width: 50%;
    margin: 0px;
    left: 5%;
    top: 25%;
    position: relative;
    color: white;
    font-family: 'Bebas Neue';
    font-size: 30px;
}
.header ul
{
  float: right;
  width: 40%;
  list-style-type: none;
  margin-top: -15px;
}
.header nav ul li
{
  display: inline;
  margin: 30px;
  font-size: 18px;
  font-family: "Bebas Neue";
  font-weight: 200;
}
.header nav ul li a
{
  color: white;
  text-decoration: none;
}

/* END OF MY HEADER WITH NAVIGATION */


/* ------------------------------------------------------------ */



/* PARALLAX EFFECT */

.parallax
{
  margin-top: 10vh;
  height: 80vh;
  background-image: url("../img/jordan.jpg");
  background-size: auto;
  background-attachment: fixed;
  background-position: center;
}

.parallax h2
{
  margin: auto;
  padding-top: 15%;
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 75px;
  color: white;
}

/* END OF PARALLAX EFFECT */



/* ------------------------------------------------------------ */



/* MOVING IMAGE BACKGROUND */

.movingImage
{
  height: 100vh;
  background-image: url("../img/dolphins.jpeg");
  overflow: hidden;
  animation: movingNames 85s linear infinite;
}
@keyframes movingNames {
    0%
    {
      background-position: 0 0;
    }

    100%
    {
      background-position: -1920px 0;
    }
}

.movingImage div
{
  padding-top: 15%;
}
.movingImage h2
{
  font-family: 'Bebas Neue';
  font-size: 75px;
  color: red;
  text-align: center;
  padding: 30px;
  background-color: rgb(255, 255, 255, .9);
}

/* END MOVING IMAGE BACKGROUND */

/* ------------------------------------------------------------ */

/* GRID IMAGES */

.gridImages
{
  width: 70%;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 30px;
}
.gridImages div img
{
  width: 100%;
}
.whiteBox
{
  margin:0;
  padding: 10px;
  background-color: white;
  font-size: 12px;
  font-family: "Bebas Neue"
}

/* END GRID IMAGES */


/* ------------------------------------------------------------ */



.gridVideos
{
  width: 80%;
  height: 90vh;
  margin: auto;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 1fr;

}


/* ------------------------------------------------------------ */


.footer
{
    height: 20vh;
    background-color: #999999;
}
.footer div
{

  width: 100%;
  margin:  auto;
  color: white;

}

.paragraph{
  font-family: "Bebas Neue";
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: auto;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
}

h2{
  font-family: "Bebas Neue";
  color:red;
  font-size: 50px;
  padding: 20px;
}

h3{
  font-family: "Bebas Neue";
  color: red;
  font-size: 30px;
  padding:20px;
  margin-left: 200px;
}



.parallaxMlb
{
  margin-top: 10vh;
  height: 60vh;
  background-image: url("../img/mlb1.png");
  background-size:1000px;
  background-attachment: fixed;
  background-position: center;
}

.parallaxNfl
{
  margin-top: 10vh;
  height: 60vh;
  background-image: url("../img/nfl100.png");
  background-size: 1000px;
  background-attachment: fixed;
  background-position: center;
}

.parallaxNba
{
  margin-top: 10vh;
  height: 60vh;
  background-image: url("../img/nba1.png");
  background-size: 1000px;
  background-attachment: fixed;
  background-position: center;
}
