body
{
    background-color: lightgray;
}

h1
{
  color: rgb(73, 102, 80);
  font-family: "Arvo";
  text-align: center;
}
h2{
  color:rgb(73, 102, 80);
  font-family: "Arvo";
  margin:auto;
}
h3{
  color: rgb(73, 102, 80);
  font-family: "Arvo";
  margin: auto;
}
h4{
  color: rgb(73, 102, 80);
  font-family: "Arvo";
  margin: auto;
}
/* .container{
  width: 70%;
  margin: auto;
  font-family: "Arvo";
} */

.box{
  width: 60%;
  margin: auto;
  padding: 30px;
  background-color: white;
}

a {
  text-decoration: none;
  font-style: normal;
}

a:hover{
  color: green;
}
